{% extends 'transferguideApp/index.html' %}
{% load static %}
{% load socialaccount %}

{% block content %}
<style>
.login-container {
    background-image: url("/static/images/uva_project.png");
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.login-button {
    width: 20%;
    max-width: 90%;
    margin:  auto;
    position: center;
    display: flex;
    justify-content: center;
    padding-top: 40vh;

}

.home-page-button {
    width: 20%;
    max-width: 90%;
    margin:  auto;
    position: center;
    display: flex;
    justify-content: center;
    padding-top: 10vh;
    padding-bottom: 20vh;

}
.btn-lg{
    width: 100%;
    margin: 10px;
}

.welcome-message{
    padding-top: 5vh;
    text-align: center;
}
</style>


{% if not user.is_authenticated %}
<div class="login-container">
    <div class="login-button">
      <button type="button" class="btn btn-warning" onclick="location.href='{% provider_login_url 'google' %}'">Login with Google</button>
    </div>
</div>
{% else %}
<div class="welcome-message">
    <h1>Welcome Back {{ user.username }}!</h1>
</div>
    {% if user.is_staff %}
    <div class="home-page-button d-flex flex-column">
        <button type="button" onclick="location.href='{% url 'list_course_requests' %}'"  class="btn btn-outline-secondary btn-lg">Review Course Request Equivalencies</button>
        <button type="button" onclick="location.href='{% url 'course-request' %}'"  class="btn btn-outline-secondary btn-lg">Submit Course for Equivalency</button>
        <button type="button" onclick="location.href='{% url 'search' %}'" class="btn btn-outline-secondary btn-lg">Search For UVA Courses</button>
    </div>
    {% else %}
    <div class="home-page-button d-flex flex-column">
        <button type="button"  onclick="location.href='{% url 'list_course_requests' %}'" class="btn btn-outline-secondary btn-lg">View Course Requests</button>
        <button type="button"  onclick="location.href='{% url 'course-request' %}'" class="btn btn-outline-secondary btn-lg">Submit Course for Equivalency</button>
        <button type="button" onclick="location.href='{% url 'search' %}'" class="btn btn-outline-secondary btn-lg">Search For UVA Courses</button>
    </div>
    {% endif %}
{% endif %}
{% endblock %}