{% extends "transferguideApp/index.html" %}
{% block content %}

<div>

    <h1>Search for Classes</h1>
    <form method="POST">
        {% csrf_token %}
        <div style="display: flex; align-items: center;">
            <label for="searchType">Search by</label>
            <select id="searchType" name="searchType" style="height: 2rem;">
                <option value="subject">Subject Type</option>
                <option value="professor">Professor Name</option>
                <!-- <option value="department">Department</option> -->
                <!-- <option value="course_mnemonic">Course Mnemonic</option> -->
            </select>
            <input type="text" id="search" name="search" style="height: 2rem;">
        </div>
        <button type="submit">Search Classes</button>
    </form>
    
    <ul>
    {% for class in classes %}
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{ class.subject }} - {{ class.class_description }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">Instructors: {{ class.instructors }}</h6>
                <p class="card-text"> Units: {{ class.units }}</p>
            </div>
        </div>
    {% endfor %}
    </ul>

    <!-- <script>
        const searchField = document.querySelector('#search');
        searchField.addEventListener('keyup', (event) => {
            const searchQuery = event.target.value.toLowerCase();
            const classItems = document.querySelectorAll('.card');
            
            classItems.forEach((item) => {
                const subject = item.querySelector('.card-title').textContent.toLowerCase();

                if (subject.includes(searchQuery)) {
                    item.style.display = '';
                } else {
                    item.style.display = 'none';
                }
            });
        });
    </script> -->
</div>

{% endblock %}

