{% extends "transferguideApp/index.html" %}
{% block content %}

<div>
    <div style="display: flex; align-items: center;" class="justify-content-center m-5">
        <h1 class="m-5">Search for Classes</h1>
    </div>
    <form method="POST">
        {% csrf_token %}
        <div style="display: flex; align-items: center;" class="justify-content-center m-5">
            <label for="searchType"></label>
            <select id="searchType" name="searchType" style="height: 2rem;">
                <option value="subject">Subject Type</option>
                <option value="professor">Professor Name</option>
                <option value="keyword">Keyword</option>
            </select>
            <input type="text" id="search" name="search" style="height: 2rem;">
            <button type="submit">Search Classes</button>
        </div>
        
    </form>
    <div class="justify-content-center">
        <ul>
            {% for class in classes %}
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{ class.subject }} - {{ class.class_description }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Instructors: {{ class.instructors }}</h6>
                        <p class="card-text"> Units: {{ class.units }}</p>
                    </div>
                </div>
            {% endfor %}
            </ul>
    </div>
    

    <!-- <script>
        const searchField = document.querySelector('#search');
        searchField.addEventListener('keyup', (event) => {
            const searchQuery = event.target.value.toLowerCase();
            const classItems = document.querySelectorAll('.card');
            
            classItems.forEach((item) => {
                const subject = item.querySelector('.card-title').textContent.toLowerCase();

                if (subject.includes(searchQuery)) {
                    item.style.display = '';
                } else {
                    item.style.display = 'none';
                }
            });
        });
    </script> -->
</div>

{% endblock %}

