{% extends 'transferguideApp/index.html' %}
{% load static %}
{% load socialaccount %}

{% block content %}

{% comment %} 
SOURCES:
  https://dev.to/dcodeyt/creating-beautiful-html-tables-with-css-428l
{% endcomment %}

<style>
.course-table {
      width: 100%;
      margin-top: 20px;
      border-collapse: collapse;
    }
    
    .course-table th,
    .course-table td {
      text-align: left;
      padding: 8px;
      border-bottom: 1px solid #ddd;
    }
    
    .course-table th {
      font-weight: bold;
      background-color: #D3D3D3;
    }
    
    .course-table tr:hover {
      background-color: #F2F2F2;
    }

    {% comment %} .course-table {
      width: 100%;
      margin: 0;
      padding: 0;
      border-collapse: collapse;
      border-spacing: 0;
    }
  
    .course-table th {
      background-color: #D3D3D3;
      color: #333;
      font-weight: bold;
    }
  
    .course-table tr:hover {
      background-color: #F2F2F2;
    } {% endcomment %}
</style>

{% if not user.is_authenticated %}
{% else %}
    <h1>Course Equivalency</h1>
    <form method="GET">
      <label for="transfer_institution">Filter by Transfer Institution:</label>
      <select id="transfer_institution" name="transfer_institution">
          <option value="">All</option>
          {% for institution in institutions %}
          <option value="{{ institution }}">{{ institution }}</option>
          {% endfor %}
      </select>
      <button type="submit">Filter</button>
    </form>
    <table class="course-table">
        <thead>
            <tr>
                <th>Transfer Course</th>
                <th>UVA Course</th>
                <th>Course Subject</th>
                <th>Transfer Institution</th>
                <th>Credits</th>
                <th>URL</th>
            </tr>
        </thead>
        <tbody>
            {% for course in courses %}
            {% if course.status == "APPROVED"  %}
            <tr>
                <td>{{ course.title }}</td>
                 <td>{{ course.course_equivalency }}</td>
                <td>{{ course.course_subject }}</td>
                <td>{{ course.transfer_institution }}</td>
                <td>{{ course.credits }}</td>
                <td>
                  <a href="{{ course.url }}">{{ course.url }}</a>
                </td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
    {% if user.is_staff %}
    {% else %}
    {% endif %}
{% endif %}
{% endblock %}
