{% extends 'transferguideApp/index.html' %}
{% load static %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <h1>Course Request</h1>
      <p>Fill out the form below to request a course to be evaluated for transfer credit and to the transfer guide.</p>
    </div>
      <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
  </div>
</div>

{% endblock %}

