{% load socialaccount %}

{% load static %}

<!-- BOOTSTRAP -->>
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<!--<html>-->
<!--  <head>-->
<!--    <title>Classes</title>-->
<!--  </head>-->
<!--  <body>-->
<!--    <div class="position-absolute top-0 start-50 translate-middle-x">-->
<!--      {% if user.is_authenticated %}-->
<!--        <div class="header">-->
<!--          <h1>Welcome {{ user.username }}!</h1>-->
<!--        </div>-->
<!--      {% else %}-->
<!--        <div class="header">-->
<!--          <h1>Welcome!</h1>          -->
<!--        </div>-->
<!--        <div class="header">-->
<!--          <a class="btn btn-dark" href="{% provider_login_url 'google' %}">Login With Google</a>-->
<!--        </div>-->
<!--      {% endif %}-->
<!--      -->
<!--      <form method="GET">-->
<!--        <label for="class_name">Search Classes:</label>-->
<!--        <input type="text" id="class_name" name="class_name">-->
<!--        <button type="submit">Search</button>-->
<!--      </form>-->

<!--        <h1>Classes</h1>-->
<!--      <ul>-->
<!--        {% for class in classes %}-->
<!--          <li>{{ class.subject }} - {{ class.class_description }} ({{ class.units }} units)</li>-->
<!--        {% empty %}-->
<!--          <li>No classes found.</li>-->
<!--        {% endfor %}-->
<!--      </ul>-->

<!--    </div>-->

<!--    -->
<!--  </body>-->
<!--</html>-->

<!--
  <body>
    <div class="position-absolute top-0 start-50 translate-middle-x">
      {% if user.is_authenticated %}
        <div class="header">
            <h1>Welcome {{ user.username }}!</h1>
        </div>
       
      {% else %}

        <div class="header">
          <h1>Welcome!</h1>          
        </div>
        <div class="header">
          <a class="btn btn-dark" href="{% provider_login_url 'google' %}">Login With Google</a>
        </div>

        
        <div class="content">
          <div class="sis-head">
              <h2>UVA Classes</h2>
              <div class="input-group mb-3">
                <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Filter</button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Class</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
                <input type="text" class="form-control" aria-label="Text input with dropdown button">
                <button class="btn btn-outline-light">Search</button>
              </div>
          </div>
          <div class="other-school-head">
              <h2>
                Equivalents from:<br>
                school-name
              </h2>
          </div>
          <div class="sis-content">
            <div class="uva-classes">
              
              <div id="uva-class-title">
                <div id="uva-professor-title">Professor</div>
                <div id="uva-title-title">Course Title</div>
                <div id="uva-id-title">Course Id</div>
              </div>

              <div class="uva-class">
                <div class="uva-professor">Name</div>
                <div class="uva-title">Example Course</div>
                <div class="uva-id">Course Id</div>
              </div>

            </div>
          </div>
          <div class="other-school-content"></div>
      </div>
    {% endif %}
  </div>
</body>
-->